.metric-switch-controls{
  margin-top: 5rem;
  width: 100%;
  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 2.5rem;
  }
}

.metric-switch-radio-group{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}

.switch-control{
  display: inline;
}